<md-dialog aria-label="Mango (Fruit)" style="width:420px">
    <form ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Mango (Fruit)</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      
  
      <md-dialog-content>
        <md-input-container class="md-block" flex>
          <label>Usuário: </label>
          <input ng-model="vm.record.usuario.nome" type="text" ng-readonly="vm">
        </md-input-container>

        <md-input-container class="md-block" flex>
          <label>Data e Hora: </label>
          <input ng-model="vm.data">
        </md-input-container>

        <md-input-container class="md-block" flex> 
          <label>Rotina: </label>
          <input ng-model="vm.record.rotina" type="text" ng-readonly="vm">
        </md-input-container>

        <md-input-container class="md-block" flex>
          <label>Ação: </label>
          <textarea ng-model="vm.record.acao" type="text"  ng-readonly="vm"></textarea>
        </md-input-container>

      </md-dialog-content>
  
      <md-dialog-actions layout="row">
        
        <span flex></span>
        
        <md-button ng-click="vm.hide()" md-primary>
          Voltar
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>