<style>
 
</style>
<md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools">
        <md-icon flex="5" md-font-icon="icon-person-box"></md-icon>
        <span flex="30">Lista de clientes</span>
        <span flex></span>
        <md-button class="md-raised md-primary md-hue-2" aria-label="Favorite" ng-click="vm.novoCliente()">
            <md-icon flex="5" md-font-icon="icon-account-plus"></md-icon>    
            Adicionar 
        </md-button>
        <md-button class="md-raised md-primary md-hue-2" aria-label="Favorite">
            <md-icon flex="5" md-font-icon="icon-filter"></md-icon>  
            Filtrar
        </md-button>
    </div>
</md-toolbar>
  
  <md-card class="default-padding m-20">
    <!-- exact table from live demo -->
  <md-table-container>
    <table md-table md-row-select="false" multiple ng-model="vm.gridService.selected" md-progress="promise" >
      <thead md-head md-order="vm.gridService.query.order" md-on-reorder="vm.gridService.loadData">
        <tr md-row>
          <th md-column md-order-by="nome"><span>Número Série</span></th>          
          <th md-column>CPF</th>
          <th md-column>CNPJ</th>
          <th md-column>Status</th>
          <th md-column>Contrato</th>
          <th md-column>Último Acesso</th>
          <th md-column>Gourmet?</th>
          <th md-column>Dispositivos Gourmet</th>          
          <th md-column>SIAF Pedidos?</th>
          <th md-column>Dispositivos Pedidos?</th>
          <th md-column>

          </th>          
        </tr>
      </thead>
      <tbody md-body id="customers">
        <tr md-row md-select="record" md-select-id="id" md-auto-select 
        ng-repeat="record in vm.data" style="cursor:pointer"  ng-click="vm.view(record.id)">
          <td md-cell>{{record.numeroSerie}}</td>
          <td md-cell>{{record.cpf}}</td>
          <td md-cell>{{record.cnpj}}</td>
          <td md-cell>{{record.status == 'S' ? 'Ativo' : 'Desativado'}}</td>
          <td md-cell>{{record.contrato == 'A' ? 'Aluguel' : 'Manutenção'}}</td>
          <td md-cell>{{record.dataHoraAcesso | date : 'dd/MM/yyyy HH:mm'}}</td>
          <td md-cell>{{record.androidGourmet == 'S' ? 'Sim' : 'Não'}}</td>
          <td md-cell>{{record.numDispositivos}}</td>
          <td md-cell>{{record.androidPedidos == 'S' ? 'Sim' : 'Não'}}</td>  
          <td md-cell>{{record.numDispositivosPedidos}}</td>  
          <td md-cell>
            <md-button class="md-icon-button" aria-label="Favorite" ng-click="vm.editar(record.id)">
                <md-tooltip md-direction="top">Editar</md-tooltip>  
                <md-icon md-font-icon="icon-pencil"></md-icon>
            </md-button>
          </td>          
        </tr>
      </tbody>
    </table>
  </md-table-container>
  
  <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" 
            md-page="vm.gridService.page" md-total="{{vm.data.length}}" 
            md-on-paginate="vm.gridService.loadData" md-page-select></md-table-pagination>
  </md-card>