<md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools">
        <md-icon flex="5" md-font-icon="icon-cog"></md-icon>
        <span flex="30">Editar Informações</span>
        <span flex></span>
    </div>
</md-toolbar>
  
  <md-card class="default-padding m-20">
    <form name="vm.form">
        <md-content class="md-no-momentum">
            <md-input-container class="md-icon-float md-block">
                <label>Nome</label>
                    <md-icon md-font-icon="icon-account" class="name"></md-icon>
                        <input required ng-model="vm.data.nome" name="nome" minlength="3" md-maxlength="60" type="text">
                            <div ng-messages="vm.form.nome.$error">
                                <div ng-message="required">O nome é obrigatório!</div>
                                <div ng-message="minlength">O nome deve conter no mínimo 3 caracteres.</div>
                                <div ng-message="md-maxlength">O nome deve conter no máximo 60 caracteres.</div>
                            </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Email</label>
                    <md-icon md-font-icon="icon-email" class="email"></md-icon>
                        <input required ng-model="vm.data.email" name="email" md-maxlength="60" type="email">
                            <div ng-messages="vm.form.email.$error">
                                <div ng-message="required">Email é obrigatório!</div>
                                <div ng-message="md-maxlength">O email deve conter no máximo 60 caracteres.</div>
                                <div ng-message="invalid">O email deve conter no máximo 60 caracteres.</div>
                            </div>
            </md-input-container>
            <div layout="row">
            <md-input-container class="md-icon-float md-block" flex>
                <label>Senha</label>
                    <md-icon md-font-icon="icon-key-variant"></md-icon>
                        <input required ng-model="vm.data.senha" name="senha" ng-init="vm.data.senha = 123" minlength="5" md-maxlength="32" type="{{vm.tipo}}">
                            <div ng-messages="vm.form.senha.$error">
                                <div ng-message="required">A senha é obrigatória!</div>
                                <div ng-message="minlength">A senha deve conter no mínimo 5 caracteres.</div>
                                <div ng-message="md-maxlength">A senha deve conter no máximo 32 caracteres.</div>
                            </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block" flex>
                <md-button aria-label="Exibir senha" ng-click="vm.mudarStatus(vm.status)"> 
                    <md-icon md-font-icon="{{vm.status}}" flex></md-icon>
                </md-button>
                <md-button href="/mudar-senha">Alterar Senha?</md-button>
            </md-input-container>
            </div>
            <div layout="row" layout-align="end">
                <md-button class="md-warn" href="usuario">Cancelar</md-button> 
                <md-button class="md-raised md-accent" type="submit" ng-click="vm.salvar()">Salvar</md-button>
            </div>
    </form>
  </md-card>