<md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools">
        <md-icon flex="5" md-font-icon="icon-account-plus"></md-icon>
        <span flex="30">Novo Usuário</span>
        <span flex></span>
    </div>
</md-toolbar>
  
  <md-card class="default-padding m-20">
    <form name="vm.form">
        <md-content class="md-no-momentum">
            <md-input-container class="md-icon-float md-block">
                <label>Nome</label>
                    <md-icon md-font-icon="icon-account" class="name"></md-icon>
                        <input required ng-model="vm.data.nome" name="nome" minlength="3" md-maxlength="60" type="text">
                            <div ng-messages="vm.form.nome.$error">
                                <div ng-message="required">O nome é obrigatório!</div>
                                <div ng-message="minlength">O nome deve conter no mínimo 3 caracteres.</div>
                                <div ng-message="md-maxlength">O nome deve conter no máximo 60 caracteres.</div>
                            </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Email</label>
                    <md-icon md-font-icon="icon-email" class="email"></md-icon>
                        <input required ng-model="vm.data.email" name="email" md-maxlength="60" type="email">
                            <div ng-messages="vm.form.email.$error">
                                <div ng-message="required">Email é obrigatório!</div>
                                <div ng-message="md-maxlength">O email deve conter no máximo 60 caracteres.</div>
                            </div>
            </md-input-container>
            <div layout="row">
            <md-input-container class="md-icon-float md-block" flex>
                <label>Senha</label>
                    <md-icon md-font-icon="icon-key-variant"></md-icon>
                        <input required ng-model="vm.data.senha" name="senha" minlength="6" maxlength="8" type="password">
                            <div ng-messages="vm.form.senha.$error">
                                <div ng-message="required">A senha é obrigatória!</div>
                                <div ng-message="minlength">A senha deve conter no mínimo 6 caracteres!</div>
                                <div ng-message="maxlength">A senha não pode conter mais do que 8 caracteres!.</div>
                            </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block" flex>
                <label>Confirme a Senha</label>
                    <md-icon md-font-icon="icon-key-variant"></md-icon>
                        <input required ng-model="confirmaSenha" ng-pattern="vm.data.senha" name="confirmaSenha" minlength="6" maxlength="8" type="password">
                            <div ng-messages="vm.form.confirmaSenha.$error">
                                <div ng-message="required">Confirme a senha!</div>
                                <div ng-message="minlength">A senha deve conter no mínimo 6 caracteres!</div>
                                <div ng-message="pattern">As senhas não conferem!.</div>
                                <div ng-message="maxlength">A senha não pode conter mais do que 8 caracteres!.</div>
                            </div>
            </md-input-container>
            </div>
            <div layout="column">
            <md-input-container class="md-icon-float md-block">
                <md-switch ng-model="vm.data.administrador" aria-label="Administrador?" class="md-acept">
                    Administrador
                </md-switch>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <md-switch ng-model="vm.data.desativado" aria-label="Desativado?" class="md-warn">
                    Desativado
                </md-switch>
            </md-input-container>
            <div layout="row" layout-align="end">
                <md-button class="md-warn">Cancelar</md-button> 
                <md-button class="md-raised md-accent" ng-click="vm.salvar()" ng-disabled="vm.form.$invalid">Salvar</md-button>
            </div>
            </div>
    </form>
  </md-card>
  <md-card class="default-padding m-20">
    <md-toolbar class="md-accent md-hue-2">
        <div class="md-toolbar-tools">
            <span flex="30">Permissões</span>
            <span flex></span>
        </div>
    </md-toolbar>
        <div layout="row"> 
            <div layout="column" class="permissoes-padding-left-15" flex>
                <md-checkbox ng-model="clientes.checked">
                    <h2>Clientes</h2>
                </md-checkbox>
                    <div flex-gt-sm="50" ng-repeat="permissao in vm.rotinasCliente">
                        <md-checkbox ng-model="permissao.checked" ng-init="permissao.checked=false" ng-disabled="vm.data.administrador || !clientes.checked">
                        {{ permissao.nome }} 
                        </md-checkbox>
                    </div>
            </div>
            <div layout="column" flex>
                <md-checkbox ng-model="usuarios.checked">
                    <h2>Usuários</h2>
                </md-checkbox>
                    <div flex-gt-sm="50" ng-repeat="permissao in vm.rotinasUsuario">
                        <md-checkbox ng-model="permissao.checked" ng-init="permissao.checked=false" ng-disabled="vm.data.administrador || !usuarios.checked">
                        {{ permissao.nome }}
                        </md-checkbox>
                    </div>
            </div>
            <div layout="column" flex>
                <md-checkbox ng-model="logs.checked">
                    <h2>Log</h2>
                </md-checkbox>
                    <div flex-gt-sm="50" ng-repeat="permissao in vm.rotinasLog">
                        <md-checkbox ng-model="permissao.checked" ng-init="permissao.checked=false" ng-disabled="vm.data.administrador || !logs.checked">
                        {{ permissao.nome }}
                        </md-checkbox>
                    </div>
            </div>
            <div layout="column" flex>
                <md-checkbox ng-model="acessos.checked">
                    <h2>Acessos</h2>
                </md-checkbox>
                    <div flex-gt-sm="50" ng-repeat="permissao in vm.rotinasAcesso">
                        <md-checkbox ng-model="permissao.checked" ng-init="permissao.checked=false" ng-disabled="vm.data.administrador || !acessos.checked">
                        {{ permissao.nome }}
                </md-checkbox>
                    </div>
            </div>
        </div>
  </md-card>